In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [2]:
## import data
set_1_path = 'data/heart.csv'
heart_df = pd.read_csv(set_1_path)
heart_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
heart_df_encoded=pd.get_dummies(heart_df)
heart_df_encoded

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
914,68,144,193,1,141,3.4,1,0,1,1,...,0,0,0,1,0,1,0,0,1,0
915,57,130,131,0,115,1.2,1,0,1,1,...,0,0,0,1,0,0,1,0,1,0
916,57,130,236,0,174,0.0,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
917,38,138,175,0,173,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [4]:
# Define input data and target:
X = heart_df_encoded.drop(['HeartDisease','ExerciseAngina_N',	'Sex_F'], axis=1)
y = heart_df_encoded['HeartDisease']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

pd.DataFrame(X_train_scaled)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-0.580339,-0.420234,0.517141,1.821441,1.504866,-0.809744,0.523742,-1.082404,-0.474737,1.842609,-0.227103,-0.511046,0.808179,-0.481190,-0.810484,-0.273259,-1.0,1.150124
1,-0.580339,-0.635934,0.507991,-0.549016,-1.091025,-0.809744,-1.909337,0.923870,-0.474737,-0.542709,-0.227103,-0.511046,-1.237350,2.078182,-0.810484,-0.273259,-1.0,1.150124
2,-0.040318,0.712193,2.923727,-0.549016,-0.292289,-0.809744,0.523742,-1.082404,-0.474737,1.842609,-0.227103,-0.511046,0.808179,-0.481190,-0.810484,-0.273259,1.0,-0.869472
3,0.823716,0.334718,-0.297255,-0.549016,-0.491973,2.524630,0.523742,0.923870,-0.474737,-0.542709,-0.227103,1.956770,-1.237350,-0.481190,1.233830,-0.273259,1.0,-0.869472
4,1.039725,-1.930136,0.974667,-0.549016,-0.651720,0.116471,0.523742,0.923870,-0.474737,-0.542709,-0.227103,-0.511046,-1.237350,2.078182,1.233830,-0.273259,-1.0,1.150124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,0.607708,1.736770,-0.205749,1.821441,-1.889761,0.116471,0.523742,0.923870,-0.474737,-0.542709,-0.227103,1.956770,-1.237350,-0.481190,-0.810484,-0.273259,1.0,-0.869472
730,0.067687,0.981819,0.288378,-0.549016,-0.292289,-0.809744,-1.909337,-1.082404,2.106428,-0.542709,-0.227103,-0.511046,0.808179,-0.481190,-0.810484,-0.273259,-1.0,1.150124
731,-1.336369,-0.366309,-1.816240,1.821441,1.544803,0.672200,0.523742,0.923870,-0.474737,-0.542709,-0.227103,-0.511046,0.808179,-0.481190,-0.810484,-0.273259,-1.0,1.150124
732,0.715712,1.089669,-1.816240,-0.549016,-0.771531,-0.809744,0.523742,0.923870,-0.474737,-0.542709,-0.227103,-0.511046,-1.237350,2.078182,1.233830,-0.273259,-1.0,1.150124
733,-0.364330,0.442568,1.304086,-0.549016,-0.491973,1.505793,0.523742,0.923870,-0.474737,-0.542709,-0.227103,-0.511046,-1.237350,2.078182,1.233830,-0.273259,1.0,-0.869472

In [7]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=64,
        step=2), activation=activation, input_dim=18))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 11)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=64,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [8]:
# Import the kerastuner library
import kerastuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=25,
    hyperband_iterations=4)

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json

In [9]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
import pickle


filename2 = 'best_nn_scaler.pkl'

pickle.dump(scaler, open(filename2, 'wb'))

print(f"Scaler saved to file: {filename2}")

In [ ]:
best_model.save('best_model.h5')
print(f"Model saved to file: 'best_model'")